.creatorName{
    

font-family: Bai Jamjuree;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 45px;
letter-spacing: 0.05em;
border-bottom:4px solid ;
border-image-slice: 1;
border-image-source: linear-gradient(rgba(46, 191, 114, 0.9) 0%, rgba(83, 64, 211, 0.9) 100%);
padding-bottom: 3px ;
color: #FFFFFF;

}


.roomId{    
    font-family: Bai Jamjuree;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.05em;

color: #FFFFFF;

}


.memTitle{
font-family: Bai Jamjuree;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #FFFFFF;
}

/* .memName{    
    display: flex;  
    flex-direction: column;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
} */

.memberDisplay{
    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: space-around;
}

.imgndtext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memberImg{
    width: 50%;
}

.leaveRoomBtn{   
    width: 50%;  
    color: white;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #FFFFFF;  
    border-radius: 5px;  
}

.leaveBtnDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leaveBtnTxt{
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
}


.fileCheck{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 60%;
   height: 40%;
}

.uploadFile{
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    height: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: Bai Jamjuree;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.02em;
color: white;
}

.uploadImg{
    width: 15%;
    cursor: pointer;
}

.inputFile{   
    display: none; 
}
.startPlaying{  
    width: 80%;
    background: linear-gradient(260.65deg, rgba(50, 244, 164, 0.9) 4.79%, rgba(48, 223, 201, 0.9) 52.97%, rgba(33, 109, 247, 0.9) 101.16%);
    color:black;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35%;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.fileName{
    font-size: 20px;
    color: green;
}

.left{
    z-index: 1;
    height: 60%;
    width: 38%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 10%;
    border-right: white;
    border-right-style: solid;
    align-items: center;
}

.right{
    z-index: 1;    
    height: 60%;
    width: 38%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 20%;
    left: 48%;
}