.creatorName{


font-family: Bai Jamjuree;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 45px;
letter-spacing: 0.05em;
/* border-bottom:4px solid ; */
/* border-image-slice: 1;
border-image-source: linear-gradient(rgba(46, 191, 114, 0.9) 0%, rgba(83, 64, 211, 0.9) 100%); */
/* padding-bottom: 3px ; */
color: #FFFFFF;

}


.roomId{
    font-family: Bai Jamjuree;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.05em;

color: #9a9a9a;

}


.memTitle{
font-family: Bai Jamjuree;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #FFFFFF;
}

.memName{
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.memberDisplay{
    display: flex;
    align-items: center;
    height: 40%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    word-break: break-all;
    width: 40%;
}

.imgndtext{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}
.memberImg{
    width: 20%;
    margin-right: 20%;

}


.leaveRoomBtn{
    width: 50%;
    color: white;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.leaveBtnDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leaveBtnTxt{
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
}


.fileCheck{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 60%;
   height: 18%;
}

.uploadFile{
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: Bai Jamjuree;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.02em;
color: white;

}

.uploadImg{
    width: 15%;
    cursor: pointer;
    margin-bottom: 10px;
}

.inputFile{
    display: none;
}

.startPlaying{
    width: 80%;
    background: rgba(242, 170, 76, 0.01);
    color: #30C18D;
    border: 1px solid #0B754F;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 0px 12px;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;

}

.fileName{
    font-size: 20px;
    color: green;
}
#mainContent{
    position: relative;
    margin: 10% 0 0 0 !important;
}


#left{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    border-right: 1px solid white;
}
#middle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70vh;
    border-right: 1px solid white;

}


#right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

}

.leaveBtn{
    background: #0F1112;
    position: absolute;
     border: none;
    outline: none;
    left: 5%;
    top: 5%;

}

.leaveDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.leaveBtn:hover{
    border: none;
    outline:none;
    background:none;
    color:none;
    box-shadow: none;
    border-bottom:4px solid ;
    padding-bottom: 3px ;
    color: #FFFFFF;

}

.leaveImg{
    width: 17%;
    margin-right: 4%;
}

.leaveText{
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: auto;
}

.msgBoxJoinee{
    width: 60%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    height: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
}

.msgBoxCreator{
    width: 80%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    height: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
}

.msg{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-flow: column-reverse;
}
.msgfooter{
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
    background:none;

}

#sendBtn{
    width: 20px;
    margin-right: 5px;
}
.msgContainer{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #414141;

}
.memJoinedDetails{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #414141;
    justify-content: center;
}

.msgContainerSender{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #414141;
    justify-content: flex-end;
}

.nameRight{
    margin-right: 2%;
    margin-top: revert;
    margin-left: 2%;
    color:bisque;
}

.nameLeft{
    margin-right: 3%;
    margin-top: revert;
    margin-left: 2%;
    color: cadetblue;
}


.chatmsgRight{
    margin-top: revert;
    word-break: break-word;
    word-wrap: break-word;
}

.chatmsgLeft{
    margin-top: revert;
    word-break: break-word;
    word-wrap: break-word;
}

.chatInput{
    background:none;
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: none;
    font-size: 25px !important;
    color:white

}

.chatInput:focus{
    border:none;
    outline: none;
}


.chatmemimgRight{
    width: 10%;
}
.chatmemimgLeft{
    width: 10%;
}

#alertDisplay{
    position: fixed;
    right: 0;
    top: 2%;
    animation: fadeinout 3s linear forwards;
    -webkit-animation: fadeinout 3s linear forwards;

}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }

  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }


.emojiPicker{
  
    position: absolute;
    top: 7%;
    left: 14%;
}

.emojiSection{
    width: 80%;
}

.defaultemoji{
    margin-top: revert;
    cursor: pointer;
    margin-right: 2%;
}

