.title{
    position: absolute;
    left: 10%;      
    font-family: Audiowide;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 102px;
    letter-spacing: 0.05em;    
    background:-webkit-linear-gradient(180deg, #32F4A5 0%, #30DFC8 54.17%, #216EF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about{
    position: absolute;
    width: 71%;
    left: 10%;
    top: 23%;
    font-family: Avenir LT Std;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: justify;

}

.createBtn{
    position: absolute;
    width: 25%;
    height: 20%;
    left: 10%;
    top: 50%;
    background: rgba(0, 0, 0, 0.01);
    border: 3px solid ;
    border-image-slice: 1;
    border-image-source:linear-gradient(180deg, #32F4A5 0%, #30DFC8 54.17%, #216EF6 100%);
    box-sizing: border-box;
    border-radius: 21px;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    color:#30C18D;
}

button:hover{
    background: linear-gradient(260.65deg, rgba(50, 244, 164, 0.9) 4.79%, rgba(48, 223, 201, 0.9) 52.97%, rgba(33, 109, 247, 0.9) 101.16%);
    color:white;
    cursor: pointer;
}

.joinBtn{
    position: absolute;
    width: 25%;
    height: 20%;
    left: 55%;
    top: 50%;
    background: rgba(242, 170, 76, 0.01);
    border: 1px solid ;
    border-image-slice: 1;
    border-image-source:linear-gradient(180deg, #32F4A5 0%, #30DFC8 54.17%, #216EF6 100%);
    box-sizing: border-box;
    border-radius: 21px;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #30C18D;
}

.buttonDiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buttonImg{
    width: 30%;
    height: 2%;
}

.buttonText{
    font-size: 30px;
}